<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Hind+Vadodara:400,700|Mukta:500,700" rel="stylesheet">
	<link rel="stylesheet" href="assets/fontawesome/css/all.css" />

    {{ style('assets/bootstrap/dist/css/bootstrap.min.css') }}
    {{ style('assets/agnes/dist/css/style.css') }}
    {{ style('assets/css/app.css') }}
    {{ style('assets/css/header.css') }}
    {{ style('assets/css/color.css') }}

	@!section('style')

    {{ script('assets/js/jq.js') }}
    {{ script('assets/bootstrap/dist/js/bootstrap.min.js') }}

    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap boxed-container">
        @include('_layout.header')
        @!section('content')
        @include('_layout.footer')
    </div>
	{{ script('assets/agnes/dist/js/main.min.js') }}
    {{ script('assets/js/app.js') }}
	
</body>
</html>
