@layout('_layout.main')
@section('style')

@endsection
@section('content')
    <main>
        <section class="features section text-center section-first">
            <div class="container">
                <div class="features-inner section-inner">
                    <div class="features-wrap">
						
                    </div>
                </div>
            </div>
        </section>
    </main>

@endsection